In [23]:
import os
import sys
sys.path.append('..')

import pandas as pd
from sqlalchemy import create_engine

import config

In [24]:
df = pd.read_csv(os.path.join(config.DATA_PATH, 'climate_data.csv'))
# df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y')
df.head()

,date,Tn,Tx,Tavg,RH_avg,RR,ss,ff_x,ddd_x,ff_avg,ddd_car,station_id
0,2010-01-01,21.4,30.2,27.1,82.0,9.0,0.5,7.0,90.0,5.0,E,96001
1,2010-01-02,21.0,29.6,25.7,95.0,24.0,0.2,6.0,90.0,4.0,E,96001
2,2010-01-03,20.2,26.8,24.5,98.0,63.0,0.0,5.0,90.0,4.0,E,96001
3,2010-01-04,21.0,29.2,25.8,90.0,0.0,0.1,4.0,225.0,3.0,SW,96001
4,2010-01-05,21.2,30.0,26.7,90.0,2.0,0.4,NaN,NaN,NaN,NaN,96001

In [25]:
for file in ['province_detail.csv', 'station_detail.csv', 'climate_data.csv']:
    df = pd.read_csv(os.path.join(config.DATA_PATH, file))
    # if file == 'climate_data.csv':
    #     df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y')
    name = file.strip().split('_')[0]
    df.columns = [col.lower() for col in df.columns]
    rows = df.to_sql(f'{name}', create_engine('postgresql+psycopg2://postgres:Paolo011801$@localhost:5432/weather'), schema='public', if_exists='append', index=False)
    print(f'Saved {file} to relation {name}')

Saved province_detail.csv to relation province
Saved station_detail.csv to relation station
Saved climate_data.csv to relation climate

In [6]:
df.to_csv(os.path.join(config.DATA_PATH, 'climate_data.csv'), index=False)