In [1]:
import os
import sys
sys.path.append('..')

import pandas as pd

import config

# Viewing Dataset

In [5]:
df = pd.read_csv(os.path.join(config.OUTPUT_PATH, 'weather_cleaned.csv'), parse_dates=['date'])

In [6]:
df

,entry_id,date,min_temp,max_temp,avg_temp,avg_humidity,rainfall,sunshine_duration,max_wind_speed,wind_dir,avg_wind_speed,most_wind_dir
0,1,2010-01-01,21.4,30.2,27.1,82.0,9.0,0.5,7.0,90.0,5.0,E
1,2,2010-02-01,21.0,29.6,25.7,95.0,24.0,0.2,6.0,90.0,4.0,E
2,3,2010-03-01,20.2,26.8,24.5,98.0,63.0,0.0,5.0,90.0,4.0,E
3,4,2010-04-01,21.0,29.2,25.8,90.0,0.0,0.1,4.0,225.0,3.0,SW
4,5,2010-05-01,21.2,30.0,26.7,90.0,2.0,0.4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
589260,589261,2020-12-27,25.2,31.2,29.2,74.0,0.0,1.4,4.0,280.0,2.0,C
589261,589262,2020-12-28,25.3,31.6,28.1,78.0,NaN,3.0,12.0,260.0,2.0,C
589262,589263,2020-12-29,24.6,32.3,28.4,81.0,NaN,6.5,5.0,260.0,2.0,SW
589263,589264,2020-12-30,25.2,32.6,28.4,80.0,0.0,2.4,7.0,260.0,2.0,C
589264,589265,2020-12-31,24.3,32.0,26.7,86.0,26.6,5.8,7.0,350.0,2.0,C

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589265 entries, 0 to 589264
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   entry_id           589265 non-null  int64
 1   date               589265 non-null  datetime64[ns]
 2   min_temp           565882 non-null  float64
 3   max_temp           551529 non-null  float64
 4   avg_temp           544160 non-null  float64
 5   avg_humidity       541083 non-null  float64
 6   rainfall           463881 non-null  float64
 7   sunshine_duration  545544 non-null  float64
 8   max_wind_speed     579051 non-null  float64
 9   wind_dir           576137 non-null  float64
 10  avg_wind_speed     579138 non-null  float64
 11  most_wind_dir      575526 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(1), object(1)
memory usage: 53.9+ MB